// 
//  CodeSigning.xcconfig
//
//  ReClipt
// 
//  Created by ReClipt on 2026/06/11.
// 
//  Copyright © 2015-2026 ReClipt Project.
//

CODE_SIGN_IDENTITY[config=Debug] = Apple Development
CODE_SIGN_IDENTITY[config=Release] = Apple Development
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 894T922935
PROVISIONING_PROFILE_SPECIFIER[config=Debug] =
PROVISIONING_PROFILE_SPECIFIER[config=Release] =

// #include "Configurations/CodeSigning-AdHoc.xcconfig"
