// 
//  CodeSigning.xcconfig
//
//  ReClipt
// 
//  Created by ReClipt on 2026/06/11.
// 
//  Copyright © 2015-2026 ReClipt Project.
//

CODE_SIGN_IDENTITY[config=Debug] = Mac Developer
CODE_SIGN_IDENTITY[config=Release] = Developer ID Application
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = BBCHAJ584H
PROVISIONING_PROFILE_SPECIFIER[config=Debug] = ReCliptDevelopment
PROVISIONING_PROFILE_SPECIFIER[config=Release] = ReCliptDistribution

// #include "Configurations/CodeSigning-AdHoc.xcconfig"
